<!DOCTYPE html>
<html lang="en">
    <head>
        <title>noah berman</title>
        <%= stylesheet_link_tag    'reset', media: 'all' %>
        <%= stylesheet_link_tag    'application', media: 'all' %>
        <%= stylesheet_link_tag    'spectre', media: 'all' %>
        <%= stylesheet_link_tag    'main', media: 'all' %>
        <%= javascript_include_tag 'application' %>
        <%= csrf_meta_tags %>
    </head>
    
    <body>
        
        <!-- logo goes here -->
        <div class="logo"><a href="http://www.noahberman.org">
            <p>NOAH</p>
            <p>BERMAN</p>
        </a>
        </div>
        
        <!-- content goes here -->
        <%= yield %>
        
    </body>
</html>
